table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.9em;
}
caption {
    display: table-caption;
    padding: 0.8em;
}
thead, tbody, tr{
    border-color: inherit;
    vertical-align: middle;
}
thead {
    display: table-header-group;
}
tbody {
    display: table-row-group;
}
tr {
    display: table-row;
}
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    text-align: center;
    display: table-cell;
    vertical-align: inherit;
}
th {
    background-color: rgb(235,235,235);
}
tr:nth-child(odd) td{
    background-color: rgb(245, 245, 245);
}
tr:nth-child(even) td{
    background-color: rgb(250,250,250);
}

